/* signup.module.css */

.signupContainer {
    max-width: 450px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputRow {
    display: flex;
    gap: 8px;
}

.inputField { 
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkButton {
    padding: 8px;
    background-color: lightskyblue;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
  
.checkButton:hover {
    background-color: rgb(197, 239, 255);
}
  
.gender, .hobby, .smoking {
    display: flex;
    gap: 10px;
}
  
.submitButton {
    padding: 12px;
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}
  
.submitButton:hover {
    background-color: rgba(0, 191, 255, 0.254);
}
  
.error {
    color: red;
    font-size: 13px;
    margin: 0;
}