/* mypage.module.css */

.mypageImg {
  width: 300px;
  height: auto;
}

.mypageLogoWrap {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.topNav {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.menuItem {
  font-size: 16px;
  color: #555;
  cursor: pointer;
  padding: 6px 10px;
}

.menuItem:hover {
  color: #000;
}

.active {
  font-weight: bold;
  color: #ff00bf31;
}

.mypageContainer {
  margin: 0px auto;
  text-align: center;
  background: rgb(255, 255, 255);
  padding: 40px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1400px;
  min-height: 800px;
}

.topArea {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.topLeft {
  margin-left: 80px;
}

.profileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 80px;
}

.profileImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
}

.addBtn {
  position: absolute;
  bottom: 40px;
  margin-left: 200px;
  width: 30px;
  height: 30px;
  background-color: rgb(185, 183, 183);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 17px;
}

.addBtn:hover {
  background-color: rgb(221, 220, 220);
}

.username {
  margin-top: 10px;
  font-size: 50px;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
}

.statBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.profileRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px; 
}

.statsRow {
  margin-bottom: 150px;
  padding: 32px 110px;
  display: flex;
  gap: 180px;
}

.statBtn {
  background: #fff;
  border: 1px solid #f2c2cc;
  border-radius: 16px;
  padding: 20px 28px;
  cursor: pointer;
  min-width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.2s ease;
}

.statBtn:hover {
  background: #fff0f4;
  transform: translateY(-3px);
}

.num {
  font-size: 22px;
  font-weight: 700;
  color: #ff6b8a;
}

.label {
  margin-top: 6px;
  font-size: 14px;
  color: #666;
}


.menuGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  row-gap: 30px;
  column-gap: 16px;
  margin-top: 30px;
}


/* 버튼 */

.menuBtn {
  position: relative;
  overflow: hidden;
  padding: 15px 30px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

/* 반짝이는 하얀 빛줄기 */
.menuBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: all 0.5s;
}

/* 호버/클릭 시 빛 이동 */
.menuBtn:hover::before {
  left: 100%;
}

/* 호버 시 버튼 색상 살짝 변경 */
.menuBtn:hover {
  position: relative;
  overflow: hidden;
  padding: 15px 30px;
  background: linear-gradient(
    90deg,
    #e3e2fc7b,
    #dee8fa74,
    #dfeffe77
  );
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}



.like {
  position: relative;
  overflow: hidden;
  padding: 15px 30px;
  background: linear-gradient(
    90deg,
    #fd799c,
    #fe87b3,
    #f584c8
  );
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

/* 반짝이는 하얀 빛줄기 */
.like::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: all 0.5s;
}

/* 호버/클릭 시 빛 이동 */
.like:hover::before {
  left: 100%;
}

/* 호버 시 버튼 색상 살짝 변경 */
.like:hover {
  background : radial-gradient(#fd799c72,#fe87b379,#f584c871);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.danger {
  position: relative;
  overflow: hidden;
  padding: 15px 30px;
  background: linear-gradient(
    90deg,
    #edebeb,
    #dddcdc,
    #d5d4d4
  );
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

/* 반짝이는 하얀 빛줄기 */
.danger::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: all 0.5s;
}

/* 호버/클릭 시 빛 이동 */
.danger:hover::before {
  left: 100%;
}

/* 호버 시 버튼 색상 살짝 변경 */
.danger:hover {
  position: relative;
  overflow: hidden;
  padding: 15px 30px;
  background: linear-gradient(
    90deg,
    #f3f3f37b,
    #e1e1e174,
    #dad9d977
  );
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

td{
  padding:15px;
}