.navbar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .link {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 8px;
    color: #fff;
    text-decoration: 'underline';
    text-underline-offset: '5px';
    font:icon;
    font-size: 17px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .link:hover {
    cursor: pointer;
  }

  .active {
    color: dodgerblue;
    font-weight: bold;
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 10;
  min-width: 150px;
}

.dropdownContent a {
  padding: 10px 15px;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.dropdownContent a:hover {
  background-color: #ececec;
  color: rgb(249, 90, 138);
}

.arrow {
  font-size: 12px;
}  