.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

.mymymy :hover {
  cursor: default;
}

.mymy :hover {
  cursor: pointer;
}

.home-slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.home-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.home-title {
  font-size: 90px;
  font-weight: 800;
  margin-bottom: 20px;
}

.home-subtitle {
  font-size: 36px;
  margin-bottom: 50px;
}

.btn-group {
  display: flex;
  gap: 20px;
}


.main-btn {
  position: relative;
  width: 180px;
  padding: 14px;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  overflow: hidden;
  background: #ffffff;
  color: #000;
  transition:
    background 0.3s ease,
    color 0.3s ease,
    transform 0.25s ease,
    box-shadow 0.25s ease;
  
}

.main-btn.outline {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.main-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.35),
    transparent
  );
  transition: left 0.6s ease;
  pointer-events: none;
}

.main-btn:hover::before {
  left: 120%;
}

.main-btn:hover {
  transform: scale(1.08);
  background: linear-gradient(
    90deg,
    #67b3fa7b,
    #6e8ef574,
    #6e57f177
  );
  border: 2px solid #fff;
  color: #ffffff;
}

.main-btn.outline:hover {
  transform: scale(1.08);
  background: linear-gradient(
    90deg,
    #d470fc7b,
    #ff51d474,
    #ff439177
  );
  border: 2px solid #fff;
  color: #fff;
}