/* login.module.css */

.signupContainer {
    max-width: 450px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* input, select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
} */

.checkButton {
    padding: 8px;
    background-color: lightskyblue;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
  
.checkButton:hover {
    background-color: rgb(197, 239, 255);
}

.error {
    color: red;
    font-size: 13px;
    margin: 0;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 20px;
}

.textButton {
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
}

.loginButton {
    padding: 12px;
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}
  
.loginButton:hover {
    background-color: rgba(0, 191, 255, 0.254);
}

.pwdlessButton {
    padding: 12px;
    background-color: rgb(29, 92, 113);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}
  
.pwdlessButton:hover {
    background-color: rgba(29, 92, 113, 0.375);
}

.signupButton {
    padding: 12px;
    background-color: rgb(254, 182, 224);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}
  
.signupButton:hover {
    background-color: rgba(253, 196, 229, 0.455);
}