.buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 20px;
}

.imageButton {
    width: 80px;
    height: 80px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    border:'1px solid #fff'
}

.imageButton img {
    width: 110%;
    height: 110%;
    object-fit: contain;
    border-radius: 30%;
}

.textButton {
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
}
