/* src/main/comp/gallery.module.css */

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
     justify-content: center
  }
   
 .boardTable {
    width: 600px; margin:20px;  
    display: inline-table;
    border-radius: 10px;
  }
  .th {
    background-color: rgba(255, 20, 145, 0.712);
  }
  .boardTable th, .boardTable td {
    border: 1px solid rgba(82, 194, 231, 0.445);
    padding: 10px;
  }
  .title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  .gif {
    text-align: center;
   

  }
  .gif img {
    width: 80px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
  }
  
  .card {
    border: 1px solid #92d5f0d5;
    border-radius: 8px;
    overflow: hidden;
    background: white;
    transition: transform 0.4s ;
  }
  
    .card:hover {
  border: 2px solid;
	box-shadow: inset 0 0 40px blueviolet, 0 0 20px deeppink;
	outline-color: rgba(233, 8, 8, 0.904);
	outline-offset: 50px;
	text-shadow: 1px 1px 2px #3ee927b0;
  color: orangered;  
  /* transform: scale(1.10); */
  transform : rotateY(360deg) scale(1.38);
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
    overflow: hidden;
    width: 100%;
    height: 0; /* 초기 높이를 0으로 설정하여 숨김 */
    transition: height 0.5s ease; /* 높이 변화 애니메이션 */
}
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    padding: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  .button {
    background-color: dodgerblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: deepskyblue;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .detail {
    text-align: center;
  }
  
  .detail img {
    width: 500px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  .error {
   color: red; 
  }

  .fading {
  /* linear-gradient: 위에서 아래로 (to bottom) 
     빨간색(불투명)에서 흰색(불투명)으로 변하는 그라데이션 예시 */
  background: linear-gradient(to bottom, deeppink, rgba(255, 255, 255, 0));
  text-align: center;
  height: auto;
  width: 100%;
}